@define-color prim #F0E4D3;
@define-color sec #17313E;


* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-weight: 700;
    min-height: 0;
}

window#waybar {
    background: @prim;
    color: @sec;
    margin-bottom: 10px;
    padding-top: 10px;
    border: 4px solid @sec;
}

window#waybar {
    /* 
        make sure to have a higher border radius than the modules 
        that are located in the corners of the bar to avoid tiny pixels
        overflowing
    */
    border-radius: 10px; 
}

#power, #custom-cava {
    border-radius: 8px; /* must be below the border radius of the waybar */
}

#power {
    border-top: 2px solid @sec;
    border-left: 2px solid @sec;
    border-bottom: 2px solid @sec;
}

#workspaces button {
    min-width: 25px;
    padding: 5px;
    transition: 0.15s; 
    /* without this changing the active buttons would wobble the rest */
    border: 3px solid transparent;
    color: @sec;
}

#workspaces button.active{
    border: 3px solid @sec;
}

#power {
    padding-left: 5px;
    margin-right: 20px;
    background: @sec;
    color: @prim;
}

#cpu{
    margin-left: 5px;
    margin-right: 5px;
}

#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        color: @sec;
    }
}

#battery.warning:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-waybar-scrolling-mpris {
    margin-left: 15px;
    letter-spacing: 1px;
}

#custom-cava {
    color: @prim;
    background: @sec;
    letter-spacing: 3px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 18px;
}

#custom-separator {
    border-right: 3px solid @sec;
    margin-left: 5px;
    margin-right: 15px;
}

#custom-quit, #custom-lock, #custom-reboot{
    font-size: 18px;
}

#custom-quit, #custom-lock, #custom-reboot {
    padding-left: 17px;
    padding-right: 20px;
}

#custom-power {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 15px;
}

#custom-opening-bracket, #custom-closing-bracket {
    font-size: 20px;
    margin-bottom: 5px;
}
