@define-color prim #F0E4D3;
@define-color sec #17313E;


* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: @prim;
    color: @sec;
    margin-bottom: 10px;
    padding-top: 10px;
    border: 2.5px solid @sec;
}

window#waybar, #power {
    border-radius: 8px;
}

#power {
    border-top: 2px solid @sec;
    border-left: 2px solid @sec;
    border-bottom: 2px solid @sec;
}

#workspaces button {
    min-width: 25px;
    padding: 5px;
    transition: 0.15s; 
    /* big brain move without this, changing the active buttons would wobble the rest */
    border: 2.5px solid transparent;
    color: @sec;
}

#workspaces button.active{
    border-radius: 10px;
    border: 2.5px solid @sec;
}

#power {
    padding-left: 5px;
    margin-right: 20px;
    background: @sec;
    color: @prim;
}

#music {
    margin-right: 15px;
}

@keyframes clocking {
    50% {
        opacity: 0;
    }
}

#cpu{
    margin-left: 5px;
    margin-right: 5px;
}

#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        color: @sec;
    }
}

#battery.warning:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-cava {
    letter-spacing: 3px;
}

#custom-separator {
    border-right: 2px solid @sec;
    margin-left: 5px;
    margin-right: 15px;
}

#custom-quit, #custom-lock, #custom-reboot{
    font-size: 18px;
}

#custom-quit, #custom-lock, #custom-reboot {
    padding-left: 17px;
    padding-right: 17px;
}

#custom-power {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
